:root {
  --background-eps:rgb(227, 132, 0);
  --background-eps-top: rgb(255, 111, 0) ;
  --font-color:rgb(227, 132, 0);
  --background-nav:rgb(227, 132, 0);
  --hamburger-color:rgb(227, 132, 0); 
  --X-search-color:rgb(227, 132, 0);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  background-color: #101010;
}

