.white{
    color:white;
}
/*Individual*/
.container_carousel{
    display: flex;
    justify-content: center;

    margin: 0 .2rem;
    height: 50%;
    width: 10%;
    margin-right:1rem;


}

//
/*Imagem*/


.container_carousel_image{
    width: 100%;
    max-width: 230px;
    max-height: 330px;
    height: 100% ;
    object-fit: cover;
   

    
}
.carousel_item{
    height: 3%;
}
// .carousel_showScreen{
    
// }
.container_carousel img{
   height: 300px;
   max-width: 300px;
   object-fit: cover;
   transition: 1s;


}

.container_carousel img:hover{
    transform: scale(1.2);
    cursor: pointer;
 
 
 }

 
.container_carousel img::before{
    content: "teste";
 
 }
 
 
