.Footer {
    max-width: 1280px;
    width: calc(100% - 12%);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;


    &__Div {
        margin: calc(100% - 99%) calc(100% - 96%);
        display: flex;
        justify-content: center;
        gap: 32px;
        text-decoration: none;

        nav {
            display: flex;
            align-items: center;
        }

        & h4 {
            font-size: 1.3rem;
            color: var(--font-color);
            text-transform: uppercase;
        }

        & a {
            text-decoration: none;
            color: var(--font-color);
            &:hover{
                text-decoration: underline;
            }
        }

        &__SocialMedia {
            display: flex;
            flex-direction: column;
            gap: 8px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;

                gap: 8px;
            }

            li {
                a {
                    text-decoration: none;
                    color: rgb(180, 180, 180);
                    font-size: 0.9rem;
                    text-transform: uppercase;

                    display: flex;
                    gap: 4px;
                }

                a svg {
                    margin-right: .2rem;
                    width: 1rem;
                    height: 1rem;
                }

            }
        }
    }

    &__Direitos {
        color: rgb(180, 180, 180);
        display: flex;
        justify-content: center;
    }
}