.li {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    border-radius: .5rem;
    display: flex;
}
.li img{
    width: 300px;
    margin: auto auto;
}

.li a{
    color:#f3f3f3;
    text-decoration: none;
}

.li:hover{
    position: relative;
    top: 1px;
}

.li h3{
    width: 300px;
    font-size: 16px;
}

@media screen and (max-width: 780px){
    
    .li img{
        width: (100%);
    }
    
   
}
