.white{
    color:white;
}
/*Individual*/
.container_carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .2rem;
    height:300px;
}

//
/*Imagem*/

// .carousel_showScreen{
    
// }
.container_carousel img{
   height: 280px;
   max-width: 300px;
   object-fit: cover;
   transition: 1s;
   margin-right:10px;


}

.container_carousel img:hover{
    cursor: pointer;
}


