.section_container{
    display: flex;

    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    background:linear-gradient(to top, transparent 0%, #1e1e1e 100%);
    border-radius: .5rem;
    margin: 3rem auto;
}
.ul {
    display: flex;

    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    border-radius: .5rem;
    margin: 0 auto;
}

